.static-button-jamplay {
    border-radius: 5px;
    color: #fff;
    background: #F05A22;
    border: 2px solid #F05A22;
    font-size: 1rem;
    min-width: 100px;
    font-weight: 700;
    padding: 7px 12px;
    width: 15%;
    box-sizing: border-box;
    cursor: pointer;
  }